.sidebar {
    -fx-background-color: linear-gradient(to bottom, #056e61, #0d8770);
}

.menu-button {
    -fx-background-color: #d1f7d6;
    -fx-text-fill: #0b3d2c;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-padding: 5 10 5 10;
    -fx-alignment: CENTER_LEFT;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: #a6e9b7;
}

.title-label {
    -fx-background-color: #c2f0db;
    -fx-text-fill: #025e41;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-padding: 5;
    -fx-border-color: #058c6a;
    -fx-border-width: 0 0 2px 0;
}

.content-pane {
    -fx-background-color: #e6fff5;
    -fx-border-color: #b2e5d5;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
